@{
    ViewBag.Title = "Inicio";
}

<main>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">AirBnb</h1>
            <p class="lead text-muted">Pertenece a cualquier lugar</p>
            <p>
                @Html.ActionLink("Propiedades", "Index", "HomeProperty", new { area = "" }, new { @Class = "btn btn-secondary" }) <br />
            </p>
        </div>
    </section>
</main>