@model AirBnbUdC.GUI.Models.Parameters.MultimediaTypeModel

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MultimediaTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MultimediaTypeName)
        </dd>

    </dl>
</div>
<p class="mt-5">
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @Class = "btn btn-secondary" }) |
    @Html.ActionLink("Volver", "Index", null, new { @Class = "btn btn-primary " })
</p>
